tensorflow>=2.15,<2.17
opencv-python>=4.9
mediapipe==0.10.14
scikit-learn>=1.4
numpy==1.26.4
ml-dtypes==0.3.2
pandas>=2.0
matplotlib>=3.8
seaborn>=0.13
Pillow>=10.0
PyYAML>=6.0
tqdm>=4.66
plotly>=5.19
pyttsx3>=2.90
joblib>=1.3
